{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="padding-box">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-6">
                <article class="card border shadow">
                    <header class="card-header">
                        <strong class="d-inline-block">Passwort ändern</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'change_password' %}" method="POST">
                                    {% csrf_token %}
                                     <div class="mb-3">
                                        <label for="current_password" class="form-label">Aktuelles Passwort</label>
                                        <div class="input-group">
                                            <input type="password" name="current_password" id="current_password" placeholder="Aktuelles Passwort" class="form-control" required>
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-eye" id="toggleCurrentPassword" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="new_password" class="form-label">Neues Passwort</label>
                                        <div class="input-group">
                                            <input type="password" name="new_password" id="new_password" placeholder="Neues Passwort" class="form-control" required>
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-eye" id="toggleNewPassword" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="confirm_password" class="form-label">Neues Passwort bestätigen</label>
                                        <div class="input-group">
                                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Neues Passwort bestätigen" class="form-control" required>
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-eye" id="toggleConfirmPassword" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <input type="submit" value="Senden" class="btn btn-custom-pink">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        const toggleCurrentPassword = document.querySelector('#toggleCurrentPassword');
        const currentPassword = document.querySelector('#current_password');

        const toggleNewPassword = document.querySelector('#toggleNewPassword');
        const newPassword = document.querySelector('#new_password');

        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#confirm_password');

        toggleCurrentPassword.addEventListener('click', function () {
            // Toggle the type attribute for the current password field
            const type = currentPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            currentPassword.setAttribute('type', type);

            // Toggle the eye icon for the current password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });

        toggleNewPassword.addEventListener('click', function () {
            // Toggle the type attribute for the new password field
            const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            newPassword.setAttribute('type', type);

            // Toggle the eye icon for the new password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });

        toggleConfirmPassword.addEventListener('click', function () {
            // Toggle the type attribute for the confirm password field
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);

            // Toggle the eye icon for the confirm password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
{% endblock %}