{% extends 'base.html' %}

{% block content %}

<!-- ============================  LOGIN   ================================= -->
<section class="padding-box" style="min-height:84vh">

    {% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert  text-center" role="alert" style="background-color: #f8d7da; max-width: 1024px; margin-top:100px;">
        <br>
        Danke für deine Registrierung! 🌸 <br>Wir haben dir einen Aktivierungslink an folgende E-Mail Adresse geschickt: {{request.GET.email}}
        <br>
        <br>
    </div>
    <p class="text-center">Schon bereits aktiviert? <a class="custom-link" href="{% url 'login' %}">Login</a></p>

    {% else %}

    {% include 'includes/alerts.html' %}

	<div class="card mx-auto" style="max-width: 450px; margin-top:40px;">
      <div class="box-wrapper">

      <h4 class="card-title mb-4 text-center">Login</h4>
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
			 <input type="email" class="form-control" placeholder="E-Mail" name="email" >
          </div> <!-- form-group// -->
          <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Passwort" id="password" name="password">
                <span class="input-group-text">
                        <i class="fa-solid fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                </span>
              </div>
          </div> <!-- form-group// -->

          <div class="mb-3 text-end">
          	<a href="{% url 'forgotPassword' %}" class="float-right custom-link">Passwort vergessen?</a>

          </div> <!-- form-group form-check .// -->
          <div class="d-grid">
              <button type="submit" class="btn btn-custom-pink btn-block"> Login  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Du hast noch kein Konto? <a href="{% url 'register' %}" class="custom-link">Registrieren</a></p>
     <br><br>
<!-- ============================  LOGIN  ================================= -->
    {% endif %}

</section>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            // Toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // Toggle the eye icon
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>

{% endblock %}