{% extends 'base.html' %}

{% block content %}


{% include 'includes/alerts.html' %}

<!-- ============================ REGISTER   ================================= -->
<section class="padding-box">
	<div class="card mx-auto" style="max-width: 600px; margin-top: 40px;">
	  <article class="box-wrapper">
		<header class="mb-4">
		  <h4 class="card-title text-center">Konto erstellen</h4>
		</header>
		<form action="{% url 'register' %}" method="POST">
			{% csrf_token %}
			<div class="row mb-3">
				<div class="col">
					<label for="first_name" class="form-label">Vorname</label>
					<input type="text" name="first_name" placeholder="Vorname" class="form-control" id="id_first_name">
				</div>
				<div class="col">
					<label for="last_name" class="form-label">Nachname</label>
					<input type="text" name="last_name" placeholder="Nachname" class="form-control" id="id_last_name">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-12">
					<label for="email" class="form-label">E-Mail</label>
					<input type="email" name="email" placeholder="E-Mail" class="form-control" id="id_email">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="password" class="form-label">Passwort</label>
					<div class="input-group">
						<input type="password" name="password" placeholder="Passwort" class="form-control" id="id_password">
						<span class="input-group-text">
							<i class="fa-solid fa-eye" id="togglePassword" style="cursor: pointer;"></i>
						</span>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="confirm_password" class="form-label">Passwort bestätigen</label>
					<div class="input-group">
						<input type="password" name="confirm_password" placeholder="Passwort bestätigen" class="form-control" id="id_confirm_password">
						<span class="input-group-text">
							<i class="fa-solid fa-eye" id="toggleConfirmPassword" style="cursor: pointer;"></i>
						</span>
					</div>
				</div>
        </div>
			<br>
			<div class="d-grid">
				<button type="submit" class="btn btn-custom-pink">Registrieren</button>
			</div>
			{% if form.errors %}
				<ul>
					<br>
					{% for field in form %}
						{% for error in field.errors %}
							<li style="color: red;">{{ error }}</li>
						{% endfor %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if form.non_field_errors %}
				<div style="color:red;">
					{{form.non_field_errors }}
				</div>
			{% endif %}

		</form>
	  </article>
	</div>
	<p class="text-center mt-4">Du hast bereits ein Konto? <a href="{% url 'login' %}" class="custom-link">Login</a></p>
</section>
<script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#id_confirm_password');

        togglePassword.addEventListener('click', function () {
            // Toggle the type attribute for the password field
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            // Toggle the eye icon for the password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });

        toggleConfirmPassword.addEventListener('click', function () {
            // Toggle the type attribute for the confirm password field
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);

            // Toggle the eye icon for the confirm password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
<!-- ========================= Register ========================= -->

{% endblock %}