{% extends 'base.html' %}

{% block content %}
{% include 'includes/alerts.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="py-5" style="min-height: 84vh;">

    <!-- ============================ COMPONENT LOGIN ================================= -->

    <div class="card mx-auto" style="max-width: 380px;">

        <div class="box-wrapper">

            <h4 class="card-title mb-4">Passwort zurücksetzen</h4>
            <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Neues Passwort" name="password" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Neues Passwort bestätigen" name="confirm_password" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-custom-pink">Passwort zurücksetzen</button>
                </div>
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Du hast noch kein Konto? <a href="{% url 'register' %}" class="custom-link">Registrieren</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}