{% extends 'base.html' %}

{% block content %}
{% include 'includes/alerts.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="py-5" style="min-height: 84vh;">

    <!-- ============================ COMPONENT LOGIN ================================= -->

    <div class="card mx-auto" style="max-width: 380px;">

        <div class="box-wrapper">

            <h4 class="card-title mb-4">Passwort zurücksetzen</h4>
            <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Neues Passwort" name="password" id="new_password" required>
                        <span class="input-group-text">
                            <i class="fa-solid fa-eye" id="toggleNewPassword" style="cursor: pointer;"></i>
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Neues Passwort bestätigen" name="confirm_password" id="confirm_new_password" required>
                        <span class="input-group-text">
                            <i class="fa-solid fa-eye" id="toggleConfirmNewPassword" style="cursor: pointer;"></i>
                        </span>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-custom-pink">Passwort zurücksetzen</button>
                </div>
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Du hast noch kein Konto? <a href="{% url 'register' %}" class="custom-link">Registrieren</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN END.// ================================= -->

</section>
   <script>
        const toggleNewPassword = document.querySelector('#toggleNewPassword');
        const newPassword = document.querySelector('#new_password');

        const toggleConfirmNewPassword = document.querySelector('#toggleConfirmNewPassword');
        const confirmNewPassword = document.querySelector('#confirm_new_password');

        toggleNewPassword.addEventListener('click', function () {
            // Toggle the type attribute for the new password field
            const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            newPassword.setAttribute('type', type);

            // Toggle the eye icon for the new password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });

        toggleConfirmNewPassword.addEventListener('click', function () {
            // Toggle the type attribute for the confirm new password field
            const type = confirmNewPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmNewPassword.setAttribute('type', type);

            // Toggle the eye icon for the confirm new password field
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}