{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
{% include 'includes/alerts.html' %}

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg">
      <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Kontaktformular</h1>
        <br>
        <p class="lead">Bevor du mir eine Mail schreibst:<br>
Vielleicht findet sich die Antwort auf deine Frage schon in meinem <a href="{% url 'faq' %}" class="custom-link" target="_blank">"FAQ"</a>. 😊
<br>

Bei Fragen, Anmerkungen oder Problemen, die du durch meine „FAQ” - Seite nicht beantworten konntest, melde dich gerne über das folgende Kontaktformular.
<br>Ich versuche dir so schnell wie möglich zu antworten. 🌻</p><br>

        <div class="container">
          <form action="{% url 'contact' %}" onsubmit="return validateReCaptchaConsent()" method="POST" class="row g-3">
            {% csrf_token %}
                  <div class="col-12">
                    <label for="name" class="form-label">Name*</label>
                    <input type="text" class="form-control" id="name"
                           name="name"
                           value="{{ form.name.value|default:'' }}"
                           required>
                    {% if form.name.errors %}
                        <div class="text-danger">
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">E-Mail*</label>
                    <input type="email" class="form-control" id="inputEmail4"
                           name="email"
                           value="{{ form.email.value|default:'' }}"
                           required>
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    <label for="request" class="form-label">Nachricht*</label>
                    <textarea class="form-control" id="request" rows="4"
                              name="contact_note"
                              required>{{ form.contact_note.value|default:'' }}</textarea>
                    {% if form.contact_note.errors %}
                        <div class="text-danger">
                            {% for error in form.contact_note.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="agree-to-policy" required>
                  <label class="form-check-label" for="agree-to-policy" style="font-size: 12px;">
                      Hinweis zum Datenschutz: Deine Daten werden nur zur Bearbeitung deines Anliegens genutzt und nicht an Dritte weitergegeben. Mit dem Senden dieses Formulars erkennst du unsere Datenschutzerklärung an. Diese findest du in der Rubrik <a href="{% url 'faq' %}" target="_blank" class="custom-link">"Datenschutz"</a>.
                      Ich habe diesen Hinweis gelesen.*
                  </label>
              </div>
              <div class="g-recaptcha" data-sitekey="6Ld4Y5wqAAAAAC3m4hKK897_ZVmgqhmBbBlqs4gd"></div>

              <div class="col-12 mt-0">
                <br>
                <button type="submit" class="btn btn-custom-pink">Senden</button>
              </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="{% static 'images\meng_mail_3.png' %}" alt="Logo Mengcraft" width="500">
      </div>
    </div>
  </div>
  <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->

<!-- ========================= SECTION  END// ========================= -->


{% endblock %}
