
{% extends 'base.html' %}
{% load static %}
{% load cart_extras %}
{% block content %}



<section class="py-4">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        {% if not cart_items %}
        <div class="my-5">
            <h2 class="text-center">Your Shopping Cart is Empty</h2>
            <br>
            <div class="text-center">
                <a href="{% url 'store' %}" class="btn btn-custom-pink">Continue Shopping</a>
            </div>
        </div>
        {% else %}
        <div class="container mb-5 mt-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center border rounded-3">
              <li class="breadcrumb-item active">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'cart' %}">1. Cart</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">2. Address</li>
              <li class="breadcrumb-item" aria-current="page">3. Payment</li>
            </ol>
          </nav>
        </div>
        <div class="row">
            <aside class="col-lg-8">
                <div class="card mb-3 shadow">
                    <h5 class="card-header text-center">
                        Your Basket
                    </h5>
                    <div class="px-3 my-4">
                        <table class="table table-borderless table-striped align-middle">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" class="text-center" width="150">Quantity</th>
                                    <th scope="col" class="text-center" width="120">Price</th>
                                    <th scope="col" width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        {% if cart_item.variation.all %}
                                            {% for item in cart_item.variation.all %}
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="{{ item.image.url }}" class="img-fluid img-thumbnail square-image" alt="{{ cart_item.product.product_name }}" style="max-width: 80px;">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <a href="{{cart_item.product.get_url}}" class="fw-bold text-dark text-decoration-none">{{ cart_item.product.product_name }}</a>
                                                        <p class="text-muted small mb-0">
                                                            {{ item.variation_category|capfirst }}: {{ item.variation_value|capfirst }}<br>
                                            {% endfor %}
                                        {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center flex-wrap">
                                            <!-- Quantity Dropdown -->
                                            <form action="{% url 'update_cart_quantity' cart_item.product.id cart_item.id %}" method="POST">
                                                {% csrf_token %}
                                                {% for item in cart_item.variation.all %}
                                                <select name="quantity" class="form-select form-select-sm mx-1 mb-1" onchange="this.form.submit()">
                                                    {% for i in item.stock|range_filter %}
                                                        <option value="{{ i }}" {% if i == cart_item.quantity %}selected{% endif %}>
                                                            {{ i }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                    <input type="hidden" name="{{ item.variation_category|lower }}"
                                                           value="{{ item.variation_value|capfirst }}">
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </td>

                                    <td class="text-center align-middle">
                                        <div class="price-wrap">
                                            <var class="price">{{ cart_item.sub_total }} €</var>
                                            {% for item in cart_item.variation.all %}
                                                <small class="text-muted d-block">{{ item.variation_price }} € each</small>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-sm w-5"><i class="fa-solid fa-trash-can fa-xl"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            <aside class="col-lg-4">
                <div class="card border-0 shadow-sm">
                    <h5 class="card-header text-center">
                        Summary
                    </h5>
                    <div class="card-body">
                        <dl class="row mb-3">
                            <dt class="col-6">Total:</dt>
                            <dd class="col-6 text-end">{{ total }} €</dd>
                        </dl>
                        <dl class="row mb-3">
                            <dt class="col-6">Shipping:</dt>
                            <dd class="col-6 text-end">{{ shipping_cost }} €</dd>
                        </dl>
                        <hr>
                        <dl class="row mb-3">
                            <dt class="col-6 fw-bold">Grand Total:</dt>
                            <dd class="col-6 text-end fw-bold">{{ grand_total }} €</dd>
                        </dl>
                        <div class="d-grid gap-2">
                            <a href="{% url 'checkout' %}" class="btn btn-custom-pink w-100 mb-2">Checkout</a>
                            <a href="{% url 'store' %}" class="btn btn-light w-100">Continue Shopping</a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <i class="fa-brands fa-paypal fa-2xl me-2"></i>
                            <i class="fa-brands fa-cc-paypal fa-2xl"></i>
                        </div>
                    </div>
                </div>
            </aside>

        </div> <!-- row.// -->
        {% endif %}
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .// -->
</section>

{% endblock %}