{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ============================ Main Article ================================= -->
{% include 'includes/alerts.html' %}
<section class="padding-box pt-2">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3 mb-0">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'store' %}">
			<i class="fa-solid fa-store fa-lg"></i>
          <span class="visually-hidden">Shop</span>
        </a>
      </li>
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{category.get_url}}">{{category.category_name |capfirst}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{product_slug |capfirst}}
      </li>
    </ol>
  </nav>
</div>
  <div class="container">
	<div class="container">
		<div class="card py-3">
		  <div class="row g-0 shadow">
			<aside class="col-md-7 d-flex flex-column align-items-center bg-body-tertiary pt-4">
			  <div id="productCarousel" class="carousel slide flex-grow-1 w-100">
   				 <!-- Indicators for small screens -->
				<div class="carousel-indicators d-md-none">
				  <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				  {% for i in product_gallery %}
				  <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
				  {% endfor %}
				</div>

				<div class="carousel-inner pb-3">
				  <div class="carousel-item active" id="slide-default">
					<div class="main-image-container">
					  <img src="{{single_product.images.url}}" class="d-block img-main-product img-fluid" alt="Product Image">
					</div>
				  </div>
				  {% for i in product_gallery %}
				  <div class="carousel-item" id="slide-gallery-{{ i.variation | lower }}">
					<div class="main-image-container">
					  <img src="{{i.image.url}}" class="d-block img-fluid" alt="Product Image">
					</div>
				  </div>
				  {% endfor %}
				</div>

				<div class="d-flex justify-content-between justify-content-md-center">
				  <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev" style="color: black;">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
			  <div class="thumb-container text-center d-none d-md-block">
				  <ul class="thumb list-unstyled d-flex flex-wrap justify-content-center">
					<li>
					  <a href="#" data-bs-target="#productCarousel" data-bs-slide-to="0">
						<img src="{{single_product.images.url}}" alt="Product Image" class="img-thumbnail img-fluid">
					  </a>
					  {% for i in product_gallery %}
						<a href="#" data-bs-target="#productCarousel" data-bs-slide-to="{{ forloop.counter }}" data-variation="{{ i.variation | lower }}">
						  <img src="{{i.image.url}}" alt="Product Image" class="img-thumbnail img-fluid">
						</a>
					  {% endfor %}
					</li>
				  </ul>
				</div>
			</aside>
			<main class="col-md-5 shadow">
			  <form action="{% url 'add_cart' single_product.id %}?next={% url 'product_detail' category_slug product_slug %}" method="POST">
				{% csrf_token %}
				<article class="content-body p-4">
				  <h2 class="title">{{single_product.product_name}}</h2>
				  <div class="mb-3">
					<var class="price h4" id="product-price">ab {{single_product.price}} €</var>
				  </div>
				  <p>{{single_product.description | linebreaksbr}}</p>
				  <hr>
					<div class="col-12">
					  <h6>Optionen</h6>
						<!-- Select Name will change according to what is selected 'einzeln' or 'sets' -->
						<select id="options-select" class="form-select" required>
							<option value="" disabled selected>Wähle eine Option</option>
							{% if single_product.variation_set.einzeln %}
								<optgroup label="Einzeln">
									{% for i in single_product.variation_set.einzeln %}
										<option value="{{ i.variation_value | lower }}"
												data-slide-index="slide-gallery-{{ i.variation_value | lower }}"
												data-price="{{ i.variation_price }}"
												data-type="einzeln"
												data-stock="{{ i.stock }}">
											{{ i.variation_value }}
											{% if i.stock == 0 %}- Ausverkauft {% else %} ({{ i.variation_price }}€){% endif %}
										</option>
									{% endfor %}
								</optgroup>
							{% endif %}
							{% if single_product.variation_set.sets %}
								<optgroup label="Sets">
									{% for i in single_product.variation_set.sets %}
										<option value="{{ i.variation_value | lower }}"
												data-slide-index="slide-gallery-{{ i.variation_value | lower }}"
												data-price="{{ i.variation_price }}"
												data-type="sets"
												data-stock="{{ i.stock }}">
											{{ i.variation_value }}
											{% if i.stock == 0 %}- Ausverkauft {% else %} ({{ i.variation_price }}€){% endif %}
										</option>
									{% endfor %}
								</optgroup>
							{% endif %}
						</select>
											</div>
					<br>
					<div class="col-12">
					  <h6>Anzahl</h6>
					  <select name="quantity" id="quantity-select" class="form-select" required>
						<!-- Options will be populated by JavaScript -->
					  </select>
					</div>
				  <hr>

				  <button type="submit" class="btn btn-custom-pink">
					<span class="text">In den Warenkorb</span> <i class="fas fa-shopping-bag"></i>
				  </button>

				</article>
			  </form>
			</main>
		  </div>
    </div>
  </div>

<!-- ============================ MAIN ARTICLE END================================= -->
<br>
<!-- ============================ REVIEW START ================================= -->

		<div class="container">
			<div class="col-md-9">
				<div class="row">
					{% if user.is_authenticated %}
						{% if order_product %}
							<div class="col-md-9">
								<form action="{% url 'submit_review' single_product.id %}" method="POST">
									{% csrf_token %}
											<h5>Bewertung schreiben</h5>
											<div>
												<label>Wie findest du das Produkt?*</label>
												<br>
												<div class="rate">
													<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title='5'></label>
													<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title='4'></label>
													<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title='3'></label>
													<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title='2'></label>
													<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title='1'></label>
												</div>
												<br>
												Titel:
												<input type="text" class="form-control" name="subject">
												<br>
												Bewertung:
												<textarea name="review" rows="4" class="form-control"></textarea>
												<br>
												{% if user_reviewed %}
													<input type="submit" value="Aktualisieren" class="btn btn-custom-pink">
												{% else %}
													<input type="submit" value="Senden" class="btn btn-custom-pink">
												{% endif %}
									</div>
								</form>
							</div>
						{% endif %}
					{% endif %}

					<header class="section-heading d-flex align-items-center my-3">
						<h3 class="mb-0">Kundenbewertungen</h3>
						<div class="rating-star ms-3">
							<span>
								<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
								<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
								<span>&nbsp;{{single_product.countReview}} Bewertung(en)</span>
							</span>
						</div>
					</header>

					{% for review in reviews %}
						<article class="box mb-3 p-3 shadow-sm rounded border">
							<div class="d-flex justify-content-between align-items-center w-100 mb-2">
								<div class="d-flex align-items-center">
								
									<!-- User's Full Name and Rating -->
									<div>
										<h6 class="mb-0 fw-bold">{{ review.user.full_name }}</h6>
										<div class="rating-star ms-2">
											<span>
												<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}" aria-hidden="true"></i>
												<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}" aria-hidden="true"></i>
												<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}" aria-hidden="true"></i>
												<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}" aria-hidden="true"></i>
												<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}" aria-hidden="true"></i>
											</span>
										</div>
									</div>
								</div>
								<span class="date text-muted">{{ review.updated_at }}</span>
							</div>
							<div class="review-content mt-2">
								<h6 class="review-title fw-bold" style="color: #93613f;">{{ review.subject }}</h6>
								<p class="mb-0">{{ review.review }}</p>
							</div>
						</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</div> <!-- container .//  -->
</section>
<!-- ============================ REVIEW END ================================= -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const optionsSelect = document.getElementById("options-select");
        const priceDisplay = document.getElementById("product-price");
        const quantitySelect = document.getElementById("quantity-select");
        const carousel = new bootstrap.Carousel(document.getElementById('productCarousel'));

        function updateCarouselAndPriceAndQuantity() {
            const selectedOption = optionsSelect.options[optionsSelect.selectedIndex];
            const optionType = selectedOption.getAttribute("data-type");
            const variationValue = selectedOption.value;

            // Update the select's name attribute based on the optionType
            optionsSelect.name = optionType === "einzeln" ? "einzeln" : "sets";

            // Get the slide with ID corresponding to the variation value
            const targetSlide = document.getElementById('slide-gallery-' + variationValue);
            const price = selectedOption.getAttribute('data-price');
            const stock = parseInt(selectedOption.getAttribute('data-stock'), 10);

            // Update the price
            if (price) {
                priceDisplay.textContent = `${price}€`;
            }

            // Update the carousel image to the variation
            if (targetSlide) {
                const slides = document.querySelectorAll('.carousel-item');
                slides.forEach(slide => slide.classList.remove('active'));
                targetSlide.classList.add('active');
                carousel.to(Array.from(slides).indexOf(targetSlide));
            }

            // Update quantity dropdown
            updateQuantityOptions(stock);
        }

        function updateQuantityOptions(stock) {
            // Clear previous options
            quantitySelect.innerHTML = '';

            // Add new options from 1 to available stock
            for (let i = 1; i <= stock; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.textContent = i;
                quantitySelect.appendChild(option);
            }

            // Preselect quantity 1
            quantitySelect.value = 1;
        }

        // Initialize with default values when the page loads
        updateCarouselAndPriceAndQuantity();

        optionsSelect.addEventListener("change", updateCarouselAndPriceAndQuantity);
    });
</script>
{% endblock %}