{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <i class="fa-solid fa-circle-exclamation fa-2xl"></i>
    <h1 class="pt-2 text-body-emphasis">Payment Failed</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
    </p>
    <div class="d-inline-flex gap-2">
      <a href="{% url 'store' %}"><button  class="d-inline-flex align-items-center btn btn-custom-pink btn-lg px-4 rounded-pill" type="button">
        Back to the store
      </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
