{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <i class="fa-regular fa-circle-check fa-2xl" style="color: #68bd00;"></i>
    <h1 class="pt-2 text-body-emphasis">Bezahlung erfolgreich</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Eine Bestätigungsmail wurde an deine angegebene E-Mail Adresse geschickt.
    </p>
    <div class="d-inline-flex gap-2">
      <a href="{% url 'store' %}"><button  class="d-inline-flex align-items-center btn btn-custom-pink btn-lg px-4 rounded-pill" type="button">
        Zurück zum Shop
      </button>
      </a>
    </div>
  </div>
</div>

<div class="container pb-5">
    <div class="row">
            <aside class="col-lg-6">
                <div class="card mb-3 shadow">
                    <h5 class="card-header text-center">Deine Bestellübersicht</h5>
                    <div class="px-3 my-4">
                        <table class="table table-borderless table-striped align-middle mb-0">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Produkte</th>
                                    <th scope="col" class="text-center" width="150">Anzahl</th>
                                    <th scope="col" class="text-center" width="120">Preis</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in ordered_products %}
                                <tr>
                                    <td>
                                        {% if item.variations.all %}
                                            {% for i in item.variations.all %}
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="{{ i.image.url }}" class="img-fluid img-thumbnail square-image" alt="{{ i.product.product_name }}" style="max-width: 80px;">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="{{item.product.get_url}}" class="fw-bold text-dark text-decoration-none">{{ i.product.product_name }}</a>
                                                    <p class="text-muted small mb-0">
                                                        {{ i.variation_category|capfirst }}: {{ i.variation_value|capfirst }}<br>
                                                    </p>
                                                </div>
                                            </div>

                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <var>{{ item.quantity }}</var>
                                        </div>
                                    </td>
                                    <td class="text-center align-middle">
                                        <div class="price-wrap">
                                            <var class="price">{{item.sub_total}} €</var>
                                            <small class="text-muted d-block" style="font-size: 11px;">(je {{ i.variation_price }} €)</small>
                                        </div>
                                    </td>
                                </tr>      {% endfor %}
                                        {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table align-middle">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" class="text-center" height="100%"></th>
                                    <th scope="col" class="text-center" height="100%" width="150"></th>
                                    <th scope="col" class="text-center" height="100%" width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zwischensumme:</td>
                                    <td></td>
                                    <td class="text-center">{{ subtotal }} €</td>
                                </tr>
                                <tr>
                                    <td>Versandkosten:</td>
                                    <td></td>
                                    <td class="text-center">{{ order.shipping_cost }} €</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Gesamtsumme:</td>
                                    <td></td>
                                    <td class="text-center fw-bold">{{ order.order_total }} €</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>

            <aside class="col-lg-6">
                <div class="card mb-3 shadow">
                    <h5 class="text-center card-header">Deine Bestelldaten</h5>
                    <div class="card-body px-5 py-3">
                    <b>Rechnungsadresse: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.full_name }}</p>
                    <p class="card-text mb-0">{{ order.address_line_1 }} {{order.house_number}}</p>
                    {% if order.address_line_2 %}
                        <p class="card-text mb-0">{{ order.address_line_2 }} </p>
                    {% endif %}
                    <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                    <p class="card-text mb-0">{{ order.country }}</p>
                    <br>
                    <b>E-Mail: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.email }}</p>
                    <br>
                    <b>Lieferadresse: </b>
                    <br>
                    {% if order.shipping_city %}
                        <p class="card-text mb-0">{{ order.shipping_first_name }} {{ order.shipping_last_name }}</p>
                        <p class="card-text mb-0">{{ order.shipping_address_line_1 }} {{ order.shipping_house_number }}</p>
                        {% if order.shipping_address_line_2 %}
                            <p class="card-text mb-0">{{ order.shipping_address_line_2 }}</p>
                        {% endif %}
                        <p class="card-text mb-0">{{ order.shipping_zipcode }}, {{ order.shipping_city }}</p>
                        <p class="card-text mb-0">{{ order.shipping_country }}</p>
                        <br>
                    {% else %}
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.address_line_1 }} {{order.house_number}}</p>
                        {% if order.address_line_2 %}
                            <p class="card-text mb-0">{{ order.address_line_2 }} </p>
                        {% endif %}
                        <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                        <p class="card-text mb-0">{{ order.country }}</p>
                        <br>

                    {% endif %}
                    {% if order.order_note %}
                    <b>Nachricht: </b>
                        <br>
                        <p class="card-text mb-0">{{ order.order_note }}</p>
                        <br>
                    {% endif %}
                    <ul class="list-unstyled mb0">
                        <li><strong>Bezahlmethode:</strong> Paypal </li>
                        <li><strong>Bestellnummer:</strong> #{{order.order_number}}</li>
                        <li><strong>Transaktionsnummer:</strong> {{order.payment.payment_id}}</li>
                        <li><strong>Bestellzeitpunkt:</strong> {{order.created_at}}</li>
                        <li><strong>Bezahlvorgang:</strong> {{order.payment.status}}</li>
                    </ul>
                </div>
            </aside>
    </div>
</div>


{% endblock %}
