
{% extends 'base.html' %}
{% load static %}
{% block content %}


<section>
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="container my-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center border rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'cart' %}">
                        1. Cart
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'checkout' %}">
                        2. Address
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">
                        3. Payment
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <aside class="col-lg-8">
                <div class="card mb-3 shadow">
                    <h5 class="text-center card-header">Billing Address</h5>
                    <div class="card-body px-5 py-3">
                    <b>Billing Address: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.full_name }}</p>
                    <p class="card-text mb-0">{{ order.full_address }}</p>
                    <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                    <p class="card-text mb-0">{{ order.country }}</p>
                    <br>
                    <b>Contact: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.email }}</p>
                    <p class="card-text mb-0">{{ order.phone }}</p>

                    {% if order.order_note %}
                    <br>
                    <b>Order Note: </b> {{ order.order_note }}
                    {% endif %}

                </div> <!-- card.// -->
                {% if order.shipping_name %}
                    <div class="card shadow">
                        <h5 class="text-center card-header">Shipping Address</h5>
                        <div class="card-body px-5 py-3">
                        <b>Shipping Address: </b>
                        <br>
                        <p class="card-text mb-0">{{ order.shipping_name }}</p>
                        <p class="card-text mb-0">{{ order.shipping_address_line_1 }} {{ order.shipping_address_line_2 }}</p>
                        <p class="card-text mb-0">{{ order.shipping_zipcode }}, {{ order.shipping_city }}</p>
                        <p class="card-text mb-0">{{ order.shipping_country }}</p>

                    </div> <!-- card.// -->
                {% else %}
                    <div class="card shadow">
                        <h5 class="text-center card-header">Shipping Address</h5>
                        <div class="card-body px-5 py-3">
                        <b>Shipping Address: </b>
                        <br>
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.full_address }}</p>
                        <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                        <p class="card-text mb-0">{{ order.country }}</p>
                    </div> <!-- card.// -->

                {% endif %}
                <div class="card">
                    <h5 class="card-header text-center">
                        Review Products
                    </h5>
                    <div class="card px-3 py-3">
                    <table class="table table-borderless table-striped align-middle">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" class="text-center" width="150">Quantity</th>
                                <th scope="col" class="text-center" width="120">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    {% if cart_item.variation.all %}
                                        {% for item in cart_item.variation.all %}
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="{{ item.image.url }}" class="img-fluid img-thumbnail square-image" alt="{{ cart_item.product.product_name }}" style="max-width: 80px;">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="{{ cart_item.variation.image.url}}" class="fw-bold text-dark text-decoration-none">{{ cart_item.product.product_name }}</a>
                                                    <p class="text-muted small mb-0">
                                                        {{ item.variation_category|capfirst }}: {{ item.variation_value|capfirst }}<br>

                                                    </p>
                                                </div>
                                            </div>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <var>{{ cart_item.quantity }}</var>
                                    </div>
                                </td>
                                <td class="text-center align-middle">
                                    <div class="price-wrap">
                                        <var>{{ cart_item.sub_total }} €</var>
                                        <small class="text-muted d-block">{{ item.variation_price }} € each</small>
                                    </div>

                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->

            <aside class="col-lg-4 mx-auto">
                <div class="card shadow">
                    <h5 class="card-header text-center">
                        Payment
                    </h5>
                    <div class="card-body px-5 align-items-center">
                        <dl class="row mb-3">
                            <dt class="col-8">Total:</dt>
                            <dd class="col-4 text-end">{{ total }} €</dd>
                        </dl>
                        <dl class="row mb-3">
                            <dt class="col-8">Shipping:</dt>
                            <dd class="col-4 text-end">{{ shipping }} €</dd>
                        </dl>
                        <hr>
                        <dl class="row mb-3">
                            <dt class="col-8 fw-bold">Grand Total:</dt>
                            <dd class="col-4 text-end fw-bold">{{ grand_total }} €</dd>
                        </dl>
                        <div id="paypal-button-container" class="text-center">
                            <!-- PayPal Button Will Load Here -->
                            {{ paypal.render }}
                        </div>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </aside> <!-- col -->

        </div> <!-- row.// -->

        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>

{% endblock %}