
{% extends 'base.html' %}
{% load static %}
{% block content %}


<section>
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="container mt-5 d-none d-md-block">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center border rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'cart' %}">
                        1. Warenkorb
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'checkout' %}">
                        2. Adresse
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">
                        3. Kasse
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row mt-5">
            <aside class="col-lg-8">
                <div class="card mb-3 shadow">
                    <h5 class="text-center card-header">Rechnungsadresse</h5>
                    <div class="card-body px-5 py-3">
                    <b>Rechnungsadresse: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.full_name }}</p>
                    <p class="card-text mb-0">{{ order.address_line_1 }} {{order.house_number}}</p>
                    {% if order.address_line_2 %}
                        <p class="card-text mb-0">{{ order.address_line_2 }} </p>
                    {% endif %}
                    <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                    <p class="card-text mb-0">{{ order.country }}</p>
                    <br>
                    <b>E-Mail: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.email }}</p>
                    {% if order.order_note %}
                    <br>
                    <b>Nachricht: </b>
                    <br>
                    <p class="card-text mb-0">{{ order.order_note }}</p>
                    {% endif %}

                </div> <!-- card.// -->
                {% if order.shipping_city %}
                    <div class="card shadow">
                        <h5 class="text-center card-header">Lieferadresse</h5>
                        <div class="card-body px-5 py-3">
                        <b>Lieferadresse: </b>
                        <br>
                        <p class="card-text mb-0">{{ order.shipping_first_name }} {{ order.shipping_last_name }}</p>
                        <p class="card-text mb-0">{{ order.shipping_address_line_1 }} {{ order.shipping_house_number }}</p>
                        {% if order.shipping_address_line_2 %}
                            <p class="card-text mb-0">{{ order.shipping_address_line_2 }}</p>
                        {% endif %}
                        <p class="card-text mb-0">{{ order.shipping_zipcode }}, {{ order.shipping_city }}</p>
                        <p class="card-text mb-0">{{ order.shipping_country }}</p>

                    </div> <!-- card.// -->
                {% else %}
                    <div class="card shadow">
                        <h5 class="text-center card-header">Lieferadresse</h5>
                        <div class="card-body px-5 py-3">
                        <b>Lieferadresse: </b>
                        <br>
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.address_line_1 }} {{order.house_number}}</p>
                        {% if order.address_line_2 %}
                            <p class="card-text mb-0">{{ order.address_line_2 }}</p>
                        {% endif %}
                        <p class="card-text mb-0">{{ order.zipcode }}, {{ order.city }}</p>
                        <p class="card-text mb-0">{{ order.country }}</p>

                    </div> <!-- card.// -->

                {% endif %}
                <div class="card">
                    <h5 class="card-header text-center">
                        Bestellübersicht
                    </h5>
                    <div class="card px-3 py-3" id="cart-line">
                    <table class="table table-borderless table-striped align-middle">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Produkte</th>
                                <th scope="col" class="text-center" width="150">Anzahl</th>
                                <th scope="col" class="text-center" width="120">Preis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    {% if cart_item.variation.all %}
                                        {% for item in cart_item.variation.all %}
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="{{ item.image.url }}" class="img-fluid img-thumbnail square-image" alt="{{ cart_item.product.product_name }}" style="max-width: 80px;">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="{{ cart_item.variation.image.url}}" class="fw-bold text-dark text-decoration-none">{{ cart_item.product.product_name }}</a>
                                                    <p class="text-muted small mb-0">
                                                        {{ item.variation_category|capfirst }}: {{ item.variation_value|capfirst }}<br>

                                                    </p>
                                                </div>
                                            </div>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <var>{{ cart_item.quantity }}</var>
                                    </div>
                                </td>
                                <td class="text-center align-middle">
                                    <div class="price-wrap">
                                        <var>{{ cart_item.sub_total }} €</var>
                                        <small class="text-muted d-block" style="font-size: 11px;">(je {{ item.variation_price }} €)</small>
                                    </div>

                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->

            <aside class="col-lg-4 mx-auto">
                <div class="card shadow mb-3">
                    <h5 class="card-header text-center">
                        Bezahlung
                    </h5>
                    <div class="card-body align-items-center pt-0 ">
                        <table class="table table-borderless align-middle">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" class="text-center" height="100%"></th>
                                    <th scope="col" class="text-center" height="100%" width="150"></th>
                                    <th scope="col" class="text-center" height="100%" width="120"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zwischensumme:</td>
                                    <td></td>
                                    <td class="text-center">{{ total }} €</td>
                                </tr>
                                <tr>
                                    <td>Versandkosten:</td>
                                    <td></td>
                                    <td class="text-center">{{ shipping }} €</td>
                                </tr>
                                <tr class="border-top">
                                    <td class="fw-bold">Gesamtsumme:</td>
                                    <td></td>
                                    <td class="text-center fw-bold">{{ grand_total }} €</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="paypal-button-container" class="text-center">
                            <!-- PayPal Button Will Load Here -->
                            {{ paypal.render }}
                        </div>

                        <div class="text-center pt-3 px-2">
                            <i class="fa-brands fa-cc-paypal fa-2xl"></i>
                            <i class="fa-solid fa-credit-card fa-2xl"></i>

                        </div>
                    </div> <!-- card-body -->
                </div> <!-- card -->
            </aside> <!-- col -->

        </div> <!-- row.// -->

        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>

{% endblock %}